.todo {
   transition: 200ms ease-in;
   background-color: white;
}

.todo:hover {
   background-color: rgb(31, 30, 30);
   color: white;
}

.todo button {
   transition: 150ms ease;
}

.todo button:hover {
   transform: scale(1.025);
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

.update-input {
   
   animation: fadeIn 200ms ease-in;
}